{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Your cart</h1>

    {% if cart is empty %}
        <p>Your cart is empty</p>
    {% endif %}
    {% for item in cart %}
        <h2>{{ item.product.name }} x {{ item.quantity }}</h2>

        {% if item.quantity > 1 %}
            <input type="number" class="remove-input" data-input-id="{{ item.product.id }}">
            <button class="btn-remove" data-btn-id="{{ item.product.id }}">remove</button>
            <a href="{{ path('cart_remove_x', {id: item.product.id}) }}" style="visibility: hidden" class="product-link" data-link-id="{{ item.product.id }}">im hidden</a>

        {% else %}
            <a href="{{ path('cart_remove_all', {id: item.product.id}) }}" style="color: red">remove</a>
        {% endif %}
    {% endfor %}

    <a href="{{ path('order_validate') }}">Buy</a>
</div>

    <script src="{{ asset('/scripts/productRemove.js') }}"></script>
{% endblock %}
