{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}




    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2 class="neonText">{{ category.name }}</h2>
                        <span class="neonText1">Search in the category {{ category.name }} and find what you need</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Latest Products </h2>
                        <span>Check out all of our products.</span>
                        <div class="mt-3">
                            <a href="{{ path('category_show_filter', {'id':category.id, 'filter':'asc'}) }}">
                                <i class="fa-solid fa-arrow-up-wide-short"></i> Ascending price
                            </a>
                            |
                            <a href="{{ path('category_show_filter', {'id':category.id, 'filter':'desc'}) }}">
                                <i class="fa-solid fa-arrow-down-wide-short"></i> Descending price
                            </a>
                            |
                            <a href="{{ path('category_show', {'id':category.id}) }}">
                                <i class="fa-solid fa-arrows-rotate"></i> Reset
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {%for product in products%}
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="{{ path('product_show', {id:product.id}) }}"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="{{ path('cart_add', {'id': product.id}) }}"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="{{ asset('uploads/products/'~product.pictureUrl) }}" alt="{{ product.name }}">
                        </div>
                        <div class="down-content">
                            <h4>{{ product.name }}</h4>
                            <span>${{ product.price }}</span>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->


{% endblock %}
