{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ category.name }}! ✅</h1>

    <a href="{{ path('category_show_filter', {'id':category.id, 'filter':'asc'}) }}">
        Ascending price
    </a>
    |
    <a href="{{ path('category_show_filter', {'id':category.id, 'filter':'desc'}) }}">
        Descending price
    </a>
    |
    <a href="{{ path('category_show', {'id':category.id}) }}">
        None
    </a>



    {%for product in products%}
        <h2>{{ product.name }}</h2>
        <img src="{{ asset('uploads/products/'~product.pictureUrl) }}" alt="{{ product.name }}" style="width: 128px">
        <p>{{ product.price }} €</p>
        <p>---------------------------</p>

    {% endfor %}
</div>
{% endblock %}
