{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}


    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        th, td {
            padding: 5px;
        }

        .img-product{
            width: 64px;
        }
        table{
            margin: 25px 0 25px 0;
            width: 70%;

        }

        .main-section{
            margin-top: 200px;
            display: flex;
            flex-direction: column;
            width: 100%;

            align-items: center;
        }

        .product-infos:nth-child(odd) {
            background-color: #ede9fe;
        }
        thead{
            background-color: #d8b4fe;
        }
        tfoot{
            background-color: #fed7aa;
        }
        .empty-box{
            width: 500px;
        }
    </style>


    <section class="main-section">
        <h1>Your orders</h1>

        {% if user.orders is empty %}
            <p>You have no orders</p>
            <img class="empty-box" src="{{ asset('images/empty-box.png') }}" alt="empty box">
        {% endif %}
        {% for order in user.orders|sort((a, b) => b.date <=> a.date) %}
            <table>
                <thead>
                    <tr>
                        <th colspan="4">Order : {{ order.date |date('d-m-Y') }}</th>
                    </tr>
                </thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                </tr>
                    {% for orderProduct in order.orderProducts %}
                        <tr class="product-infos">
                            <td>
                                {{ orderProduct.product.name }}
                                <img class="img-product" src="{{ asset('./uploads/products/'~orderProduct.product.pictureUrl) }}" alt="{{ orderProduct.product.name }}">
                            </td>
                            <td>{{ orderProduct.quantity }}</td>
                            <td>{{ orderProduct.product.price }} €</td>
                            <td>{{ orderProduct.total }} €</td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <th colspan="4">Total Price : {{ order.total }} €</th>
                        </tr>
                    </tfoot>
            </table>
        {% endfor %}
    </section>



{% endblock %}
