{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}


    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        th, td {
            padding: 5px;
        }

        img{
            width: 64px;
        }
    </style>

    <h1>Order</h1>

    <table>
        {% for order in user.orders %}
        <thead>
            <tr>
                <th colspan="2">Order : {{ order.date |date('d-m-Y') }}</th>
            </tr>
        </thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
        </tr>
            {% for orderProduct in order.orderProducts %}
                <tr>
                    <td>
                        {{ orderProduct.product.name }}
                        <img src="{{ asset('./uploads/products/'~orderProduct.product.pictureUrl) }}" alt="{{ orderProduct.product.name }}">
                    </td>
                    <td>{{ orderProduct.quantity }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{#        {% for order in user.orders %}#}
{#        {{ order.date |date('d-m-Y') }}#}
{#            {% for orderProduct in order.orderProducts %}#}
{#                {{ orderProduct.product.name }}#}
{#                    x#}
{#                {{ orderProduct.quantity }}#}
{#                <hr>#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{% endblock %}
